*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}  
:root{
    --orange: #FCA311;
    --orangestrong : #FB8500;
    --white:#FFFFFF;
    --ligthblue:#023047;
    --blue : #14213D;
    --grey: #E5E5E5;
    --black: #000000;
    --letterpoppins : 'Poppins', sans-serif;



}

body {
display: flex;

justify-content: center;
align-items: center;
color: var(--grey);
width: 100%;
height: 100%;
background-color: var(--blue);
font-family: var(--letterpoppins);
flex-direction: column;

}
.tittle-name-hero{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.tittle-name-hero::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:var(--orangestrong);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.tittle-name-hero::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.tittle-name-hero:nth-of-type(1)::before,
.tittle-name-hero:nth-of-type(1)::after{
    animation-delay: 1s;
}

.tittle-name-hero:nth-of-type(2)::before,
.tittle-name-hero:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.header{
    justify-content: center;
align-items: center;
display: flex;
width: 100%;

}

.conteiner-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;


}

.nombre-nav{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 20px 20px;
    cursor: pointer;
  
 
}
#backticks{
    flex-direction: row;
    display: flex;
    gap: 4px;
    color: var(--orange)
}
#signodolar{
    flex-direction: row;
    display: flex;
    gap: 4px;
    color: var(--orange)
}
#llaves{
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--orange)
}
#nombre{
    font-size: 20px;
    color: var(--grey)
}
#backticks:hover, #signodolar:hover,#llaves:hover{
    color: #E5E5E5;
}
#nombre:hover{
    color: var(--orangestrong)
}
.list-nav{
position: relative;
top:0px;
left:-500px;
display: flex;
gap: 100px;
}
.element-li{
cursor: pointer;

}
.element-li::after{
    content: "";
    width: 0%;
    position: absolute;
    top: 10px;
    left: 0px;
    border-bottom: solid 3px red;
}
.element-li::after:hover{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 100px;
}
.menu-toggle-responsive{
width: 50px;
display: none;
}
.tittle-name-hero{
    font-size: 140px;

}
.description-text-hero{
    font-size: 80px;
 
}
.hero{
width: 100%;
height: 760px;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
background-image: sc;
}
.conteiner-hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;

}
#info-name {
    font-size: 40px;
}
#logosolo{
 
}.conteiner-hero-tittle{

}
.conteiner-hero-h2{

}
.little-info{

}
.button-next-hero-conteiner{

}
.conteiner-button{

}
.button-next-hero{

}
.About-me{

}
.about-me-conteiner{

}
.image-perfil-conteneiner{

}
.img-perfil{

}
.information-conteiner{

}
.tittle-information{

}
.information{

}
.cards-conteiner{

}
.cards-group{

}
.card{

}
.proyects-conteiner{

}
.proyect{

}
.link-proyect{

}
.img-proyect{

}
.contact-conteiner{

}
.text-contact-conteiner{

}
.tittle-contact{

}
.text-contact{

}
