*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}  
:root{
    --orange: #FCA311;
    --orangestrong : #FB8500;
    --white:#FFFFFF;
    --ligthblue:#023047;
    --blue : #14213D;
    --grey: #E5E5E5;
    --black: #000000;
    --letterpoppins : 'Poppins', sans-serif;



}

body {
display: flex;

justify-content: center;
align-items: center;
color: var(--grey);
width: 100%;
height: 100%;
background-color: var(--blue);
font-family: var(--letterpoppins);
flex-direction: column;

}
.tittle-name-hero{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.tittle-name-hero::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:var(--orangestrong);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.tittle-name-hero::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.tittle-name-hero:nth-of-type(1)::before,
.tittle-name-hero:nth-of-type(1)::after{
    animation-delay: 1s;
}

.tittle-name-hero:nth-of-type(2)::before,
.tittle-name-hero:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.header{
    justify-content: center;
align-items: center;
display: flex;
width: 100%;

}

.conteiner-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;


}

.nombre-nav{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 20px 20px;
    cursor: pointer;
  
 
}
#backticks{
    flex-direction: row;
    display: flex;
    gap: 4px;
    color: var(--orange);
    
}
#signodolar{
    flex-direction: row;
    display: flex;
    gap: 4px;
    color: var(--orange);
    transition: all 1s;
}
#llaves{
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--orange);
    transition: all 1s;
}
#nombre{
    font-size: 20px;
    color: var(--grey);
    transition: all 1s;
}
#backticks:hover, #signodolar:hover,#llaves:hover{
    color: #E5E5E5;
}
#nombre:hover{
    color: var(--orangestrong)
}
.list-nav{
position: relative;
top:0px;
left:-500px;
display: flex;
gap: 100px;
}
.element-li{
cursor: pointer;
position: relative;
justify-content: center;
align-items: center;
display: flex;

}
.element-li::after{
    content: "";
    width: 0%;
    position: absolute;
    top: 20px;
    left: 0px;
    border-bottom: solid 3px var(--orangestrong);
}
.element-li:hover::after{
    width: 100%;
    position: absolute;
    top: 20px;
    transition: all 1s ease-out;

}
.menu-toggle-responsive{
width: 50px;
display: none;
}
.tittle-name-hero{
    font-size: 140px;

}
.description-text-hero{
    font-size: 80px;
 
}
.hero{
width: 100%;
height: 760px;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
margin:30px
}
.conteiner-hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;

}
#info-name {
    font-size: 40px;
}
#logosolo{
 
}.conteiner-hero-tittle{

}
.conteiner-hero-h2{

}
.little-info{

}
.button-next-hero-conteiner{

}
.conteiner-button{
    padding-top: 100px;
}
.button-next-hero{
width: 30px;
height: 50px;

}
.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 60px;
    height: 60px;
    margin-top: 200px;
    border-radius: 100%;
}

.span-button {
    z-index: 999;
    height: 3px;
    margin:0px;
    width: 17px;
    background: #fff;
    transition: 0.4s ease;
}

.span-button:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.span-button:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.span-button:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.span-button:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .span-button:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover .span-button:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover .span-button:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover .span-button:nth-child(4) {
    transform: rotate(-225deg);
}
.About-me{

}
.about-me-conteiner{

}
.image-perfil-conteneiner{
  
   
}
.img-perfil{
width: 200px;
border-radius: 50%;

}
.information-conteiner{

}
.tittle-information{

}
.information{

}
.cards-conteiner{

}
.cards-group{
    padding-top: 30px;
display: flex;
gap: 100px;
}
.card img {
width: 100px;
}
.card img:hover{
    animation:forwards;

  
}
.proyects-conteiner{

}
.proyect{

}
.link-proyect{

}
.img-proyect{

}
.contact-conteiner{

}
.text-contact-conteiner{

}
.tittle-contact{

}
.text-contact{

}
